.width-buttons {
    width: 70%;
}

@media screen and (max-width: 290px) {
    .width-buttons {
        width: 80%;
    }
}



.p-buttons {
    padding-top: 0rem;
}

@media screen and (max-width: 767px) {
    .p-buttons {
        padding-top: 2.5rem;
    }
}
.buttons {
    text-decoration: none;
    font-weight: 600;
    padding: 0.7rem;
    background-color: rgb(41, 41, 41) !important;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.buttons:hover {
    background-color: rgb(17, 17, 17) !important;
    color: white;
}

.pt-lg-4 {
    padding-top: 0rem;
}

@media screen and (max-width: 991px) {
    .pt-lg-4 {
        padding-top: 4rem !important;
    }
}   

.project-width {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .project-width {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    .project-width {
        width: 100%;
    }
}

/* @media screen and (min-width: 1800px) {
    .project-width {
        width: 60%;
    }
} */